body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chessboard {
    border-collapse: collapse;
}

.chessboard td {
    width: 50px;
    height: 50px;
}

.chessboard tr:nth-child(odd) td:nth-child(even),
.chessboard tr:nth-child(even) td:nth-child(odd) {
    background: black;
}

.chessboard tr:nth-child(odd) td:nth-child(odd),
.chessboard tr:nth-child(even) td:nth-child(even) {
    background: white;
}