
h1 {
  text-align: center;
  color: #333;
}


p {
  font-size: 16px;
  color: #555;
}


.s1 {
  width: 250px;                 
  background-color: #f2f2f2;  
  
  padding: 20px;              
  
  border: 3px solid #4CAF50;  
  
  margin: 30px;               
  
}
