     ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            background-color: #84c5c5;
        }
       ul li  {
            display: inline-block;
            padding: 14px 20px;
            margin:0px 5px;
            font-size: 30px;
        }

         a:hover {
            background-color: #3893e9;
            color: yellow;
        }
