body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #000;
    display: flex;
}

.navbar li {
    position: relative;
}

.navbar li a {
    display: block;
    padding: 14px 20px;
    color: white;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #444;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000;
    top: 100%;
    left: 0;
    min-width: 150px;
}

.dropdown-content li a {
    padding: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}