* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 70%;
    max-width: 850px;
    margin: 40px auto;
    font-family: "Times New Roman", serif;
    line-height: 1.6;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

p:first-of-type {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    margin-top: 25px;
    margin-bottom: 10px;
    border-bottom: 2px solid black;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

ul {
    margin-left: 20px;
}