body{
    background: linear-gradient(to right,#ffb347,#ffcc33);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    font-family:Arial;
}

.box{
    background:white;
    padding:30px;
    border-radius:15px;
    width:300px;
    text-align:center;
}

input{
    width:90%;
    padding:10px;
    margin:10px 0;
}

button{
    background:#ff8c00;
    color:white;
    border:none;
    padding:10px;
    width:95%;
    cursor:pointer;
}

button:hover{
    background:#ff6a00;
}

.results{
    margin-top:15px;
    text-align:left;
}