.navbar {
  list-style: none;  
  padding: 0;
  margin: 0;
  background-color: #333;
}

.navbar li {
  display: inline-block; 
}

.navbar li a {
  display: inline-block;
  padding: 12px 20px;    
  color: white;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #555;  
}
